In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.naive_bayes import GaussianNB

In [8]:
df = pd.read_csv("titanic.csv")
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [7]:
df.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250
3,1,1,female,35.0,1,0,53.1000
4,0,3,male,35.0,0,0,8.0500

In [35]:
X=df[['Age', 'Pclass', 'Siblings/Spouses Aboard', 'Parents/Children Aboard', 'Fare']]
y=df['Survived']

In [37]:
df

,Survived,Pclass,Name,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,32.0,0,0,7.7500

In [44]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=3,random_state=0)

In [46]:
df

,Survived,Pclass,Name,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,32.0,0,0,7.7500

In [28]:
df.drop(['Sex'],axis='columns',inplace=True)

In [29]:
df

,Survived,Pclass,Name,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,32.0,0,0,7.7500

In [47]:
clf=GaussianNB()
clf.fit(X_train,y_train)

GaussianNB()

In [48]:
y_pred=clf.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.67      0.80         3
           1       0.00      0.00      0.00         0

    accuracy                           0.67         3
   macro avg       0.50      0.33      0.40         3
weighted avg       1.00      0.67      0.80         3

C:\Users\shour\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\shour\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\shour\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))